.seatGrid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}

.seatDiv {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.a {
    background-color: blue;
}

.b {
    background-color: green;
}

.c {
    background-color: red;
}