.headerNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 18vh;
    padding: 0 50px;
    background-color: #5B8FB9;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.headerNav h1,
.headerNav h2 {
    color: white;
}

.navLinks {
    display: flex;
    gap: 30px;
}

.headerNav a {
    color: white;
    text-decoration: none;
}

.headerNav a:hover {
    text-decoration: underline;
}

.navLinks .active {
    text-decoration: underline;
    color: #B6EADA;
}

@media only screen and (max-width: 991px) {
    .headerNav {
        padding: 0 20px;
    }

    .headerNav h2 {
        font-size: 36px;
    }

    .hideMobile {
        display: none;
    }

    .navLinks {
        text-align: right;
    }
}

@media only screen and (max-width: 575px) {
    .headerNav {
        flex-direction: column;
        justify-content: space-evenly;
        padding: 10px 0;
    }

    .headerNav h1 {
        font-size: 24px;
    }
}